.cartNum {
  text-align: center;
  border-radius: 0;
  border: 1px solid #b2b2b2;
  height: 38px;
}
.input-group-text {
  height: 38px;
  width: 42px;
  border: 1px solid #b2b2b2;
}
.cart-foot-underline {
  border-bottom: none;
}
